* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(218, 217, 217);
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  
  header {
    padding: 2rem;
    background-color: #ed4848;
    text-align: center;
    color: white;
  }
  
  header h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  
  header h3 {
    font-size: 1rem;
    font-weight: normal;
  }
  
  main {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  section {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  select {
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 6px;
    background-color: #f2f2f2;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  input[type="text"]:hover,
  select:hover {
    border-color: #000;
    background-color: #e8e8e8;
  }
  
  input[type="text"]:focus,
  select:focus {
    border-color: #ed4848;
    box-shadow: 0 0 4px rgba(237, 72, 72, 0.4);
  }
  
  button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    align-self: flex-start;
  }
  
  button:hover {
    background-color: #038e5a;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 0.75rem;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  tfoot {
    background-color: #eee;
    font-style: italic;
  }
  
  #mensagem {
    margin: 1rem 0;
    color: green;
    font-weight: bold;
  }
  
  footer {
    background-color: #4f0303;
    color: white;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
    font-size: 0.9rem;
  }
  
  a {
    text-decoration: none;
    color: #e9dcdc;
    font-weight: bold;
    text-align: left;
    display: block;
    margin: 0.5rem auto;
    font-size: 1.3rem;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #1f1e1e;
  }
  