table {
    width: 90%;
    margin: 2rem auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.685);
}
  
th, td {
    padding: 12px;
    text-align: center;
}
  
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
  
tr:nth-child(even) {
    background-color: #f9f9f9;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
  

.btn-approve {
    background-color: #04AA6D; 
    color: white;
}
  
.btn-approve:hover {
    background-color: #038e5a; 
}
  

.btn-reject {
    background-color: #d9534f; 
    color: white;
}
  
.btn-reject:hover {
    background-color: #c9302c; 
}
  
