  main {
    flex: 1;
    max-width: 50rem;
    margin: 3rem auto 3rem;
    padding: 3rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.685);
}
  
  main div {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
  
  div a {
    background-color: #04AA6D;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}
  
  div a:hover {
    background-color: #027a4e;
}

@media (max-width: 1024px) {
    main {
        max-width: 90%;
        padding: 2rem;
    }

    div a {
        font-size: 18px;
        padding: 10px 12px;
    }
}

@media (max-width: 728px) {
    main {
        padding: 1.5rem;
    }

    div a {
        font-size: 16px;
        padding: 8px 10px;
    }
}

@media (max-width: 450px) {
    main {
        padding: 1rem;
        margin: 1rem;
    }

    div a {
        font-size: 14px;
        padding: 8px;
    }
}
