<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 4px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        button{
            background-color: green;
        
        }
        button{
            background-color: red;
        }
        </style>
</head>
<body>
    <h2>HTML Table</h2>

<table>
  <tr>
    <th>Atestado</th>
    <th>Data de envio</th>
    <th>Aluno</th>
    <th>Registro do aluno</th>
  </tr>
  <tr>
    <td>arquivo pdf</td>
    <td>00/00</td>
    <td>Igor Prado</td>
    <td>45436764746</td>
  </tr>
  <button>Validar Atestado</button>
  <button>Negar atestado</button>
  <footer>
    <p>© 2025 - Aprovação de atestados | Todos os direitos reservados.</p>
  </footer>
</body>
</html>
