<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <body>
        <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 3px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
        </head>
        <body>
        
        <h2>Consulta de Estado de Atestado</h2>
        
        <table>
          <tr>
            <th>Atestado</th>
            <th>Data de envio</th>
            <th>Periodo</th>
            <th>Estado</th>
            <th>Apagar</th>
          </tr>
          {% for data in data %}
          <tr>
            <td><a href="{{ url_for('visualizar_atestado', atestado_id=data['atestado_id']) }}">visualizar</a></td>
            <td>{{ data['data_envio'] }}</td>
            <td>{{ data['inicio_periodo'] }} a {{ data['fim_periodo'] }}</td>
            <td>{{ data['estado'] }}</td>
            <td>
              {% if data['estado'] == "pendente" %}
                <form action="{{ url_for('remover_atestado', atestado_id=data['atestado_id']) }}" method="post">
                  <button type="submit" onclick="return confirm('Tem certeza que deseja remover este atestado?')">Remover Envio</button><br>
                </form>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>
        <a href="/">HOME</a>
        </body>
        </html>


