<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='assets/Y2KLOGO.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    {% block content %}

    {% endblock %}
    <footer>
        <p>© 2025 - Atestados | Todos os direitos reservados.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>