<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Alunos</title>
</head>
<body>
  <h2>Cadastro de Aluno</h2>
  
  <form action = "/cadastro_usuarios" method="POST" id="formAluno" enctype="multipart/form-data">
    <label for="nome">Nome:</label><br>
    <input type="text" id="nome" name="nome" required><br><br>

    <label for="ra">RA:</label><br>
    <input type="text" id="ra" name="ra" required><br><br>

    <label for="senha">Senha:</label><br>
    <input type="password" id="senha" name="senha" required><br><br>

    <label for="curso">Curso:</label><br>
    <select id="curso" name="curso" required>
      <option value="">Selecione</option>
      <option value="Análise e Desenvolvimento de Sistemas">Análise e Desenvolvimento de Sistemas</option>
      <option value="Banco de Dados">Banco de Dados</option>
      <option value="Desenvolvimento de Software Multiplataforma">Desenvolvimento de Software Multiplataforma</option>
      <option value="Gestão da Produção Industrial">Gestão da Produção Industrial</option>
      <option value="Gestão Empresarial">Gestão Empresarial</option>
      <option value="Logística">Logística</option>
      <option value="Manufatura Avançada">Manufatura Avançada</option>
      <option value="Manutenção de Aeronaves">Manutenção de Aeronaves</option>
      <option value="Projetos de Estruturas Aeronáuticas">Projetos de Estruturas Aeronáuticas</option>
    </select><br><br>

    <label for="Semestre">Semestre:</label><br>
    <select id="semestre" name="semestre" required>
      <option value="">Selecione</option>
      <option value="Primeiro">Primeiro</option>
      <option value="Segundo">Segundo</option>
      <option value="Terceiro">Terceiro</option>
      <option value="Quarto">Quarto</option>
      <option value="Quinto">Quinto</option>
      <option value="Sexto">Sexto</option>
    </select><br><br>

    <label for="turno">Turno:</label><br>
    <select id="turno" name="turno" required>
      <option value="">Selecione</option>
      <option value="manhã">Manhã</option>
      <option value="tarde">Tarde</option>
      <option value="noite">Noite</option>
      <option value="integral">Integral</option>
    </select><br><br>

    <button type="submit">Cadastrar</button>
  
  </form>

  <a href="/">HOME</a>
</body>
</html>