<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Consulta de Usuários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/consulta_user.css') }}">
    <link rel="stylesheet" href="../static/css/consulta_user.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <header>
        <a href="/">HOME</a>
        <h1>Consulta de Usuários</h1>
        <h3>Consulte seus atestados</h3>
    </header>
    <main>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>RA</th>
                        <th>Curso</th>
                        <th>Semestre</th>
                        <th>Turno</th>
                        <th>Equipe</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in data %}
                        <tr>
                            <td>{{ data.user_id }}</td>
                            <td>{{ data.nome }}</td>
                            <td>{{ data.ra }}</td>
                            <td>{{ data.curso }}</td>
                            <td>{{ data.semestre }}</td>
                            <td>{{ data.turno }}</td>
                            <td>{{ data.equipe }}</td>
                            <td>
                            {% if ((data.tipo == "administrador" and session.nivel_acesso != "3") and (session.username != data.username)) or data.tipo == "aluno" %}
                                <form action="/delete_usuario" method="POST" style="display:inline;">
                                    <input type="hidden" name="user_id" value="{{ data.user_id }}">
                                    <button type="submit">Deletar</button>
                                </form>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        
        <br>
    </main>
    <footer>
        <p>© 2025 - Consulta de usuários | Todos os direitos reservados.</p>
    </footer>
    
</body>
</html>