<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Consulta de Usuários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/consulta_user.css') }}">
    <link rel="stylesheet" href="../static/css/consulta_user.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <header>
        <a href="/">HOME</a>
        <h1>Consulta de Usuários</h1>
        <h3>Consulte seus atestados</h3>
    </header>
    <main>
        <select name="periodo" id="periodo">
  <option value="">Periodo</option>
  <option value="manhã">Manhã</option>
  <option value="tarde">Tarde</option>
  <option value="noite">Noite</option>
</select>
<select name="turma" id="turma">
  <option value="">turma</option>
  <option value="Anlise e Desenvolvimento de Sistemas">Anlise e Desenvolvimento de Sistemas</option>
  <option value="Manufatura Avançada">Manufatura Avançada</option>
  <option value="Desenvolvimento de Software multiplataforma">Desenvolvimento de Software multi-plataforma</option>
  <option value="Logistica">Logistica</option>
  <option value="Banco de dados">Banco de dados</option>
  <option value="Manutenção de aeronaves">Manutenção de aeronaves</option>
  <option value="Projetos de Estruturas Aeronáuticas">Projetos de Estruturas Aeronáuticas</option>
  <option value="Gestão Empresarial (EaD)">Gestão Empresarial (EaD)</option>
  <option value="Gestão da Produção Industrial">Gestão da Produção Industrial</option>

</select>
<select name="Semestre" id="Semestre">
  <option value="">Semestre</option>
  <option value="Primeiro">Primeiro</option>
  <option value="Segundo">Segundo</option>
  <option value="Terceiro">Terceiro</option>
  <option value="Quarto">Quarto</option>
  <option value="Quinto">Quinto</option>
  <option value="Sexto">Sexto</option>
  

</select>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>RA</th>
                        <th>Curso</th>
                        <th>Semestre</th>
                        <th>Turno</th>
                        <th>Equipe</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in data %}
                        <tr>
                            <td data-label="id">{{ data.user_id }}</td>
                            <td data-label="nome">{{ data.nome }}</td>
                            <td data-label="ra">{{ data.ra }}</td>
                            <td data-label="curso">{{ data.curso }}</td>
                            <td data-label="semestre">{{ data.semestre }}</td>
                            <td data-label="turno">{{ data.turno }}</td>
                            <td data-label="equipe">{{ data.equipe }}</td>
                            <td>
                            {% if ((data.tipo == "administrador" and session.nivel_acesso != "3") and (session.username != data.username)) or data.tipo == "aluno" %}
                                <form action="/delete_usuario" method="POST" style="display:inline;">
                                    <input type="hidden" name="user_id" value="{{ data.user_id }}">
                                    <button type="submit">Deletar</button>
                                </form>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        
        <br>
    </main>
    <footer>
        <p>© 2025 - Consulta de usuários | Todos os direitos reservados.</p>
    </footer>
    
</body>
</html>