<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Envio de Atestados Médicos</title>
</head>
<body>
  <header>
    <h1>Envio de Atestados Médicos</h1>
    <h3>
      Envie seu atestado médico e informe a <strong>Data inicial, Data final</strong> e
      <strong>faça o upload do arquivo em PDF</strong> para justificar sua ausência.
    </h3><br>
  </header>

  <main>
    <form action="Enviar-atestados" method="post" enctype="multipart/form-data">
      <section>
        <h3>Data inicial do atestado médico</h3>
        <input type="date" id="dataInicio" name="data_inicio" required><br><br>
      </section>

      <section>
        <h3>Data final do atestado médico</h3>
        <input type="date" id="dataFim" name="data_fim" required><br><br>
      </section>  

      <section>
        <h3>Faça o upload do atestado em PDF</h3>
        <input type="file" id="uploadAtestado" name="atestado_pdf" accept=".pdf" required><br><br>
      </section><br><br>

      <button type="submit">Enviar Atestado</button>
    </form>
  </main>
</body>
</html>
