<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="relat_atest.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Atestados</title>
</head>
<body>
    
    <header>
        <a href="/">HOME</a>
        <h1>Relatório de Atestados</h1><br>
        <p>Visualize os atestados registrados.</p>
    </header>
    <main>
        <section class="center">
            <h2>Filtrar por Data</h2>
            <form action="#">
                <label for="data_inicio">Data de Início:</label>
                <input type="date" id="data_inicio" name="data_inicio"><br><br>

                <label for="data_fim">Data de Fim:</label>
                <input type="date" id="data_fim" name="data_fim"><br><br>

                <button type="submit">Filtrar</button>
            </form>
        </section>
    </main><br><br>

        <section>
            <h2>Atestados Registrados</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Tipo de Atestado</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>001</td>
                        <td>João Silva</td>
                        <td>15/03/2025</td>
                        <td>Saúde</td>
                        <td>Aprovado</td>
                    </tr>
                    <tr>
                        <td>002</td>
                        <td>Maria Oliveira</td>
                        <td>17/03/2025</td>
                        <td>Psicológico</td>
                        <td>Pendente</td>
                    </tr>
                </tbody>
            </table>
        </section> 
  <footer>
    <p>© 2025 - Relatório de atestados | Todos os direitos reservados.</p>
  </footer>
</body>
</html>
