<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gerenciar_equipe.css') }}">
    <title>Gerenciar Equipes</title>
</head>
<body style="height: 100vh;">
    <header>
        <a href="/">HOME</a>
        <h1>Relatório de Atestados</h1><br>
        <h3>Visualize os atestados registrados.</h3>
    </header>


    <!-- container de mensagens -->
    <div class="container mt-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            <i class="fas 
            {% if category == 'success' %}fa-check-circle{% endif %}
            {% if category == 'danger' %}fa-times-circle{% endif %}
            {% if category == 'warning' %}fa-exclamation-triangle{% endif %}me-2">
            </i>
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <!-- container de mensagens -->



    <a href="/gerenciar_equipe/criar">Nova Equipe</a>
    <main style="padding: 2%;">

<section>
    {% if data %}
        {% for x in data %}
        <div class="equipe-container">
            <h4>Equipe:</h4>
            <p>{{ x.nome_equipe }}</p>
            
            <h4>Membros:</h4>
            <ul>
                {% if x.membros_nomes %}
                    {% for nome in x.membros_nomes %}
                        <li>{{ nome }}</li>
                    {% endfor %}
                {% else %}
                    <li>Nenhum membro cadastrado</li>
                {% endif %}
            </ul>
            
            <div class="equipe-actions">
                <a href="/gerenciar_equipe/deletar/{{ x.equipe_id }}" onclick="return confirm('Tem certeza que deseja deletar esta equipe?')">Deletar</a>
                <a href="/gerenciar_equipe/editar?equipe_id={{ x.equipe_id }}">Editar</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p class="no-equipes">Nenhuma equipe encontrada</p>
    {% endif %}
</section>

    </main>
</body>
</html>