<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        {% if session.logged_in %}
            <p>Logado como: {{ session.nome }} <br>(RA: {{ session.ra }})</p>
            <a href="/logout" class="botao-logout">Sair</a>
        {% else %}
            <a href="/login" class="botao-login">Login</a>
        {% endif %}
    </header>

    <main>
        <div>
            <a href="/cadastro_usuarios">cadastro de usuarios</a>
            <a href="/consulta_usuarios">consulta de usuarios</a>
            <a href="/cadastro_atestados">cadastro de atestados</a>
            <a href="/consulta_atestados">consulta de atestados</a>
            <a href="/aluno/consulta_atestados">area de consulta do aluno</a>
        </div>
    </main>
    <footer>
        <p>© 2025 - Página inicial | Todos os direitos reservados.</p>
    </footer>
</body>
</html>