{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <header>
        {% if session.logged_in %}
            <h3>Logado como: {{ session.nome.title() }} <br>{% if session.ra %}RA: {{ session.ra }}{% endif %}</h3>
            <a href="/logout" class="botao-logout">Sair</a>
        {% else %}
        <h3>Nenhum Usuário Conectado</h3>
            <a href="/login" class="botao-login">Login</a>
        {% endif %}
    </header>

    <main>
        <div>
            <a href="/criar_equipe">Criar equipe</a>
            <a href="/cadastro_usuarios">Cadastro de usuarios</a>
            <a href="/consulta_usuarios">Consulta de usuarios</a>
            <a href="/cadastro_atestados">Cadastro de atestados</a>
            <a href="/consulta_atestados">Consulta de atestados</a>
            <a href="/aluno/consulta_atestados">Área de consulta do aluno</a>
        </div>
    </main>
{% endblock %}