<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/relatórios_pdf.css">
<body>
    <h1>Relatório:</h1>
    <main>
    <section>
    <label for="relatoriio">Relatório:</label>
    <input type="text" name="relatorio">
    <button>Enviar</button>
    </section>
    </main>
</body>
</html>