<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Relatório</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/base.css" />
        <link rel="stylesheet" href="../static/css/relatórios_pdf.css" />
        <link rel="stylesheet" href="../static/css/pdf_layout.css" />
    </head>
    <body>
        <header>
            <a href="/">HOME</a>
            <h1>Relatório</h1>
        </header>


    <!-- container de mensagens -->
    <div class="container mt-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            <i class="fas 
            {% if category == 'success' %}fa-check-circle{% endif %}
            {% if category == 'danger' %}fa-times-circle{% endif %}
            {% if category == 'warning' %}fa-exclamation-triangle{% endif %}me-2">
            </i>
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <!-- container de mensagens -->



        <div id="pdf-content">
            <h2>Relatório</h2>
            <p id="pdf-text"></p>
        </div>
        <main>
            <form action="/relatorio_pdf" method="post">
                <section class="filters-section">
                    <h3>Filtros de Atestados</h3>
                    
                    <div class="filter-group">
                        <label for="periodo">Período:</label>
                        <select name="periodo" id="periodo">
                            <option value="">Todos os períodos</option>
                            <option value="manhã">Manhã</option>
                            <option value="noite">Noite</option>
                        </select>
                    </div>
                    
                    <div class="filter-group">
                        <label for="turma">Curso:</label>
                        <select name="turma" id="turma">
                            <option value="">Todos os cursos</option>
                            <option value="Análise e Desenvolvimento de Sistemas">Análise e Desenvolvimento de Sistemas</option>
                            <option value="Manufatura Avançada">Manufatura Avançada</option>
                            <option value="Desenvolvimento de Software multiplataforma">Desenvolvimento de Software multiplataforma</option>
                            <option value="Logistica">Logística</option>
                            <option value="Banco de dados">Banco de dados</option>
                            <option value="Manutenção de aeronaves">Manutenção de aeronaves</option>
                            <option value="Projetos de Estruturas Aeronáuticas">Projetos de Estruturas Aeronáuticas</option>
                            <option value="Gestão Empresarial (EaD)">Gestão Empresarial (EaD)</option>
                            <option value="Gestão da Produção Industrial">Gestão da Produção Industrial</option>
                        </select>
                    </div>
                    
                    <div class="filter-group">
                        <label for="Semestre">Semestre:</label>
                        <select name="Semestre" id="Semestre">
                            <option value="">Todos os semestres</option>
                            <option value="Primeiro">Primeiro</option>
                            <option value="Segundo">Segundo</option>
                            <option value="Terceiro">Terceiro</option>
                            <option value="Quarto">Quarto</option>
                            <option value="Quinto">Quinto</option>
                            <option value="Sexto">Sexto</option>
                        </select>
                    </div>
                    
                    <div class="filter-group">
                        <label for="estado">Status do Atestado:</label>
                        <select name="estado" id="estado">
                            <option value="">Todos os status</option>
                            <option value="aprovado">Aprovado</option>
                            <option value="reprovado">Reprovado</option>
                            <option value="pendente">Pendente</option>
                        </select>
                    </div>
                    
                    <div class="download-options">
                        <button type="submit" class="download-btn" formaction="/relatorio_pdf">📊 PDF Atestados</button>
                        <button type="submit" class="download-btn" formaction="/relatorio_atestados_csv">📝 CSV Atestados</button>
                    </div>
                </section>
            </form>
            
           <form action="/relatorio_avaliacoes_csv" method="post" class="csv-form">
            <section class="filters-section">
                <h3>Relatório de Avaliações</h3>
                
                <div class="filter-group">
                    <label for="csv_equipe">Equipe:</label>
                    <select name="equipe" id="csv_equipe">
                        <option value="">Todas as equipes</option>
                        {% for equipe_id, nome_equipe in equipes.items() %}
                        <option value="{{ nome_equipe }}">{{ nome_equipe }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="filter-group">
                    <label for="csv_curso">Curso:</label>
                    <select name="curso" id="csv_curso">
                        <option value="">Todos os cursos</option>
                        <option value="Análise e Desenvolvimento de Sistemas">Análise e Desenvolvimento de Sistemas</option>
                        <option value="Manufatura Avançada">Manufatura Avançada</option>
                        <option value="Desenvolvimento de Software multiplataforma">Desenvolvimento de Software multiplataforma</option>
                        <option value="Logistica">Logística</option>
                        <option value="Banco de dados">Banco de dados</option>
                        <option value="Manutenção de aeronaves">Manutenção de aeronaves</option>
                        <option value="Projetos de Estruturas Aeronáuticas">Projetos de Estruturas Aeronáuticas</option>
                        <option value="Gestão Empresarial (EaD)">Gestão Empresarial (EaD)</option>
                        <option value="Gestão da Produção Industrial">Gestão da Produção Industrial</option>
                    </select>
                </div>
                
                <div class="filter-group">
                    <label for="csv_semestre">Semestre:</label>
                    <select name="semestre" id="csv_semestre">
                        <option value="">Todos os semestres</option>
                        <option value="Primeiro">Primeiro</option>
                        <option value="Segundo">Segundo</option>
                        <option value="Terceiro">Terceiro</option>
                        <option value="Quarto">Quarto</option>
                        <option value="Quinto">Quinto</option>
                        <option value="Sexto">Sexto</option>
                    </select>
                </div>

                <div class="filter-group">
                    <label for="periodo">Período:</label>
                    <select name="periodo" id="periodo">
                        <option value="">Todos os períodos</option>
                        <option value="manhã">Manhã</option>
                        <option value="noite">Noite</option>
                    </select>
                </div>

                <div class="filter-group">
                    <label for="csv_sprint">Sprint:</label>
                    <select name="sprint" id="csv_semestre">
                        <option value="">Todos as sprints</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                    <div class="download-options">
                        <button type="submit" class="download-btn" formaction="/relatorio_avaliacoes_pdf">📊 PDF Avaliações</button>
                        <button type="submit" class="download-btn" formaction="/relatorio_avaliacoes_csv">📝 CSV Avaliações</button>
                    </div>
                </section>
            </form>

            <form action="/relatorio_medias_csv" method="post" class="csv-form">
                <section class="filters-section"> 
                <h3>Relatório de Médias</h3>
                
                    <div class="filter-group">
                    <label for="csv_equipe">Equipe:</label>
                    <select name="equipe" id="csv_equipe">
                        <option value="">Todas as equipes</option>
                        {% for equipe_id, nome_equipe in equipes.items() %}
                        <option value="{{ nome_equipe }}">{{ nome_equipe }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="filter-group">
                    <label for="csv_curso">Curso:</label>
                    <select name="curso" id="csv_curso">
                        <option value="">Todos os cursos</option>
                        <option value="Análise e Desenvolvimento de Sistemas">Análise e Desenvolvimento de Sistemas</option>
                        <option value="Manufatura Avançada">Manufatura Avançada</option>
                        <option value="Desenvolvimento de Software multiplataforma">Desenvolvimento de Software multiplataforma</option>
                        <option value="Logistica">Logística</option>
                        <option value="Banco de dados">Banco de dados</option>
                        <option value="Manutenção de aeronaves">Manutenção de aeronaves</option>
                        <option value="Projetos de Estruturas Aeronáuticas">Projetos de Estruturas Aeronáuticas</option>
                        <option value="Gestão Empresarial (EaD)">Gestão Empresarial (EaD)</option>
                        <option value="Gestão da Produção Industrial">Gestão da Produção Industrial</option>
                    </select>
                </div>
                
                <div class="filter-group">
                    <label for="csv_semestre">Semestre:</label>
                    <select name="semestre" id="csv_semestre">
                        <option value="">Todos os semestres</option>
                        <option value="Primeiro">Primeiro</option>
                        <option value="Segundo">Segundo</option>
                        <option value="Terceiro">Terceiro</option>
                        <option value="Quarto">Quarto</option>
                        <option value="Quinto">Quinto</option>
                        <option value="Sexto">Sexto</option>
                    </select>
                </div>

                <div class="filter-group">
                    <label for="periodo">Período:</label>
                    <select name="periodo" id="periodo">
                        <option value="">Todos os períodos</option>
                        <option value="manhã">Manhã</option>
                        <option value="noite">Noite</option>
                    </select>
                </div>

                <div class="filter-group">
                    <label for="csv_sprint">Sprint:</label>
                    <select name="sprint" id="csv_semestre">
                        <option value="">Todos as sprints</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                    <div class="download-options">
                        <button type="submit" class="download-btn" formaction="/relatorio_medias_pdf">📊 PDF Médias</button>
                        <button type="submit" class="download-btn" formaction="/relatorio_medias_csv">📝 CSV Médias</button>
                    </div>
                </section>
            </form>

        </main>
        
        <footer>
            <p>© 2025 - Gerar Relatório | Todos os direitos reservados.</p>
        </footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    </body>
</html>